<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>nilai a : {{a}}</h1>
    <h1>Rata rata a : {{a/4}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : null,
        b : null,
        c: null,
        d : null,
        jumlah : null,
      },
      
      methods : {
        openForm : function(){
            (this.a = prompt("Masukkan nilai a") +
            (this.b = prompt("Masukkan nilai a")) +
            (this.c = prompt("Masukkan nilai a")) +
            (this.d = prompt("Masukkan nilai a")))
            this.jumlah = this.a + this.b + this.c + this.d
            
          },
        
      },
      
       
  })
  </script>
</body>
</html>
